@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header{
  background-color: rgba(25, 75, 240, 0.925);
  padding: 7px;
  margin: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  }

  .linkHeaderButton{
    background-color: rgb(212, 42, 212);
    color: rgb(26, 23, 23);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
  }

  .linkHeaderButton:hover{
    border: 1px solid rgba(95, 97, 226, 0.178);
    color: rgb(8, 8, 10);
  }

.linkFooterButton{
  background-color: rgb(42, 59, 212);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.footer{  
  background-color: rgb(90, 90, 236);
  padding: 7px;
  margin: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.container{
  background: rgb(228, 229, 238);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  background-color: rgb(138, 140, 206);
  padding: 30px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100px;
  width: 50%;
  max-width: 400px;
  }

.input-name, .input-curso{
width: 100%;
border-radius: 5px;
height: 30px;
border: none;
outline: none;
}

.title, .name, .curso{
  color: rgb(57, 35, 117);
}

.label{
color:rgb(41, 40, 40);
display: block;
font-size: larger;
font-weight: bold;
}

.title{
  margin:0;
  text-align: center;
  color: rgb(57, 35, 117);
  font-size: xx-large;
  font-weight: bold;
}

.btt-header{
  display: flex;
  text-transform: uppercase;
  font-size: 9px;
  border-radius: 10px;
  color: rgb(241, 18, 148);
  padding: 10px 10px;
  cursor: pointer;
  text-decoration: none;
}

.btt-header:link{
  text-decoration: none;
}

.submit{
padding: 10px 30px;
width: 100%;
background-color: rgba(95, 97, 226, 0.432);
border: 1px solid rgb(57, 35, 117);
outline: none;
font-size: 1.5em;
font-weight: lighter;
margin-top:60px;
cursor: pointer;
border-radius: 5px;
}

.submit-user{
  text-align: center;
  padding: 10px 30px;
  width: 30%;
  background-color: rgba(168, 44, 137, 0.432);
  border: 1px solid rgb(57, 35, 117);
  outline: none;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top:60px;
  cursor: pointer;
  border-radius: 5px;
}

button:active{
  transform: translateY(2px);
}

button:hover{
    background-color: rgba(95, 97, 226, 0.432);
    border: 1px solid rgba(95, 97, 226, 0.658);
    color: rgb(57, 35, 117);
  }

  .logo-ufsb{
    border: 1px solid rgb(64, 17, 235);
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-left: 60px;
    margin-bottom: 60px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .flex-container-p {
    display: flex;
    flex-direction: column;
  margin-top: 40px;
  font-weight: bold;
  font-size: xx-large;
  }















